<article class="event">
  <div class="event-title">
    <h2>{{ title }}</h2>
  </div>
  <div class="event-desc">
    {{ description }}
  </div>
  <div class="event-date">
    <span>Date:</span>
    {{ date }}
  </div>
  <div class="event-location">
    <span>Location:</span>
    {{ location }}
  </div>
  <div class="going-count">
    {{ going_count }} People Going
  <button class="going-btn">I'm Going</button>
  </div>
</article>

<script src="../../public/js/going.js"></script>